# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/

# IDE/editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env

# Log files
*.log
